@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><i class="fa-solid fa-code"></i> Bem vindo!</h1>
    <p>Esse é um sistema desenvolvido por <a href="https://www.linkedin.com/in/josé-henrique-pedrosa-925886174/">Jose Henrique</a>.</p>
</div>
